
4. Hafta/Eğitim Öncesi Ödevler/4.Hafta Eğitim Öncesi Görevleri.ipynb
4. Hafta/Eğitim Öncesi Ödevler/4.Hafta Eğitim Öncesi Görevleri (1).ipynb
4. Hafta/Eğitim Öncesi Ödevler/4.Hafta Eğitim Öncesi Görevleri.ipynb
4. Hafta/Eğitim Öncesi Ödevler/4.Hafta Eğitim Öncesi Görevleri.ipynb
4. Hafta/Eğitim Öncesi Ödevler/4.Hafta Eğitim Öncesi Görevleri.ipynb
4. Hafta/Eğitim Sonrası Ödevler/4.Hafta Eğitim Sonrası Görevleri.ipynb
